# Terraform
terraform*/**/secrets*
terraform*/**/.terraform*
terraform*/**/!.example.*
terraform*/**/*.tfstate*
terraform*/**/*.tfvars
terraform*/**/!terraform.example.tfvars
terraform*/**/.DS_Store
terraform*/**/*.sh
terraform*/**/deadcode.tf
terraform*/**/*.key
terraform*/**/*.log
!terraform*/azure/vm/custom_data/*.sh

# Backend
backend/dist
backend/node_modules

# Frontend
frontend/dist
frontend/node_modules

# Mac garbage
.DS_Store
**/**/*.config
!*.example*
